#element {
    --blue: #2b7efd;
    --blue_hover: #2b6efd;
    --orange: #cd8901;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}
#main {
    width: 100%;
    display: flex;
    column-gap: 10px;
    background-color: #efefef;

    .div-outline{
        border : 1px solid lightgray;
        border-radius: 12px;
        padding: 4px;
        background-color: white;
    }
    #categories {
        flex-basis: 40%;
        align-items: center;
    }
    #taskArea {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        gap: 10px;
    }
    #taskHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    #newTaskBox.hidden{
        display:none;
    }
    #newTaskBox {
        display: flex;
        flex-direction: column;
        gap:10px;

        border: 2px solid lightskyblue;
        border-radius: 12px;
        padding: 10px;

        & #newTaskInputs {
            display: flex;
            gap: 4px;

            & #dateLabel {
                flex-basis: 50%;
            }
            & #pointsLabel {
                flex-basis: 50%;
            }
        }
        & #newTaskButtons {
            display:flex;
            gap: 10px;

            & #createTaskButton {
                flex-basis: 80%;
            }
            & #cancelTaskButton {
                flex-basis: 20%;
            }
        }
    }
    & #noTaskInfo{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        padding:10%;
        color: #959595;
    }
}
label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
input{
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 12px;
}
input:focus {
    outline: 2px solid var(--blue);
    box-shadow: 0 0 8px var(--blue);
}
.primary {
    background-color: var(--blue);
    border: 0;
    border-radius: 12px;
    color: white;
    padding: 10px;
}
.secondary {
    background-color: lightgray;
    border: 0;
    border-radius: 12px;
    color: black;
    padding: 10px;
}
.primary:hover {
     background-color: var(--blue_hover);
 }
.secondary:hover {
    background-color: #b8b8b8;
}
#taskArea {

    & #noTaskInfo.hidden {
        display:none;
    }
}
#taskList {
    & > div {
        border: 1px lightgray solid;
        border-radius: 12px;
        padding: 12px;
        box-shadow: 0 0 5px #b8b8b8;
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .task-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .collapse {
                min-width: 0;
                overflow-wrap: anywhere;
            }

            & .svg-wrapper {
                display: flex;
                gap: 5px;

                & .icon-box-bin, & .icon-box-checkmark {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                }

                & .icon-box-checkmark {
                    background-color: green;
                }

                & .icon-box-bin {
                    background-color: gray;
                }

                & .icon-box-bin svg, & .icon-box-checkmark svg {
                    width: 18px;
                    height: 18px;
                    display: block;
                }
            }
        }

        & .task-row-2 {
            display: flex;
            justify-content: space-between;
        }
    }
    #taskHistory {
        & > div {
            border: 1px green solid;
            border-radius: 12px;
            background-color: lightgreen;
            padding: 12px;
            box-shadow: 0 0 5px #b8b8b8;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .task-row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .collapse {
                    min-width: 0;
                    overflow-wrap: anywhere;
                }
            }
        }
    }
}
menu {
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

h1,h3,p {
    margin : 0;
}
