header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #container {
        display: flex;
        justify-content: space-between;
    }
}
#main {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 10px;
    background-color: #efefef;

    & div {
        border : 1px solid lightgray;
        border-radius: 12px;
        padding: 4px;
        background-color: white;

    }
    #categories {
        flex-basis: 40%;
    }
    #tasks {
        flex-basis: 60%;
    }
}

h1,h3,p {
    margin : 0;
}