
#element {
    --blue: #2b7efd;
    --blue_hover: #2b6efd;
    --orange: #cd8901;
    --green: #00c853;
    --green_hover: #00b849;

    background-color: #efefef;
}
#element:hover {
    cursor: default;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;

    border-bottom: gray 1px solid;
    background-color: white;

    & h1 {
        display: flex;
        align-items: center;
    }

    #leftArrow{
        margin-right:5px;
    }
    #leftArrow:hover {
        cursor:pointer;
        background-color: #f1f1f1;
        border-radius:12px;
    }
    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;


        & #pointsDisplayWrapper {
            background-color: #FFFBEB;
            border: 2px solid #fff0ab;
            border-radius: 12px;
            padding: 10px;

            display:flex;
            gap: 2px;
            align-items: center;

            & #coinSVG {
                color: var(--orange);
                width: 15px;
                height: 15px;
            }

        }
        & #logout {
            padding: 5px;
            border-radius: 6px;
            &:hover {
                background-color: lightgray;
            }
            & svg {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    & p {
        font-size:17px;
    }

    .div-outline{
        border : 1px solid lightgray;
        border-radius: 12px;
        padding: 4px;
        background-color: white;
    }
    #categoryArea {
        margin-left:20px;
        margin-right:10px;
        margin-bottom: 20px;
        border: 1px lightgray solid;
        border-radius: 12px;
        box-shadow: 0 0 5px #b8b8b8;
        background-color: white;

        & #categoryHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        & #newCatBox {
            display: flex;
            flex-direction: column;
            gap:5px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;

            & #newCatButtons {
                display: flex;
                gap: 10px;

                & .primary {
                    flex-basis: 80%;
                }
                & .secondary {
                    flex-basis: 20%;
                }
            }
        }
        & #categoryList {
            display: flex;
            flex-direction : column;
            gap:5px;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 10px;

            .category {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 10px 14px;
                border-radius: 12px;
                background: white;
                border: 1px solid #e5e5e5;

                cursor: pointer;

                &.selected {
                    border-color: var(--blue);
                    background-color: #e6f7ff;
                }
            }

            .category:hover:not(.selected) {
                border-color: #d0d7ff;
            }

            .catLeft {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            .catInfo {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .catTitle {

            }

            .catStandard {
                font-size: 11px;
                padding: 2px 8px;
                border-radius: 999px;
                background: #eaf0ff;
                color: #2b7efd;
                font-weight: 500;
            }

            .catTaskCount {
                color: #8a8a8a;
            }

            .catButtons {
                display: flex;
                gap: 8px;
                & svg {
                    width: 20px;
                    height: 20px;
                    border-radius: 6px;
                    padding: 5px;

                }
                & svg:hover {
                    background-color: lightgray;
                }
            }
        }
    }
    #taskArea {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right:20px;
        margin-left:10px;
        margin-bottom: 20px;

        border: 1px lightgray solid;
        border-radius: 12px;
        box-shadow: 0 0 5px #b8b8b8;
        background-color: white;

    }
    #taskHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    #newTaskBox {
        display: flex;
        flex-direction: column;
        gap:10px;

        border: 2px solid lightskyblue;
        border-radius: 12px;
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;

        & #newTaskInputs {
            display: flex;
            gap: 4px;

            & #dateLabel {
                flex-basis: 50%;
            }
            & #pointsLabel {
                flex-basis: 50%;
            }
        }
        & #newTaskButtons {
            display:flex;
            gap: 10px;

            & #createTaskButton {
                flex-basis: 80%;
            }
            & #cancelTaskButton {
                flex-basis: 20%;
            }
        }
    }
    & #noTaskInfo{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        padding:10%;
        color: #959595;
    }
}
svg {
    display: flex;
    align-items: center;
    justify-content: center;
}
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(97, 97, 97, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    border-color:black;

    & #popupEditMember {
        background-color: white;
        border-radius: 12px;
        padding: 20px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;

        & .top-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            & #closePopup {
                padding: 5px;
                border-radius: 6px;
                &:hover {
                    background-color: lightgray;
                }
            }
        }
        & .input-wrapper {
            display: flex;
            gap: 10px;
            & input {
                flex-basis: 85%;
            }
            & button {
                flex-basis: 15%;
            }
        }
        & #memberList {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & .member {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                & .deleteMember {
                    color:red;
                    border-radius: 4px;
                    padding: 2px;
                    &:hover {
                        background-color: #ffcfcf;
                    }
                }

                & .memberInfo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 7px;

                    & .memberIcon {
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: var(--blue);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        padding: 2px;
                    }
                    & .memberName {
                        font-weight: bold;
                    }
                    & .tag {
                        padding: 2px 4px;
                        border-radius: 999px;
                        background-color: #ffeccf;
                        color: #ffb00b;
                    }
                }
            }
        }
    }
}
label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
input{
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 12px;
}
input:focus {
    outline: 2px solid var(--blue);
    box-shadow: 0 0 8px var(--blue);
}
.primary {
    background-color: var(--blue);
    border: 0;
    border-radius: 12px;
    color: white;
    padding: 10px;
}
.reverse {
    background-color: white;
    color: var(--blue);
    border: 0;
    border-radius: 12px;
    padding: 10px;
}
.secondary {
    background-color: #eaeaea;
    border: 0;
    border-radius: 12px;
    color: black;
    padding: 10px;
}
.primary:hover {
     background-color: var(--blue_hover);
 }
.reverse:hover {
    background-color: #d4e7ff;
}
.secondary:hover {
    background-color: #e3e3e3;
}
.collapse {
    min-width: 0;
    overflow-wrap: anywhere;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.openItem {
    border: 2px #dddddd solid;
    border-radius: 12px;
    background-color: #f7f8f9;
    padding: 12px;
    box-shadow: 0 0 5px #dddddd;
}
.closedItem {
    border: 1px #c5ffcf solid;
    border-radius: 12px;
    background-color: #eefbf2;
    padding: 12px;
    box-shadow: 0 0 5px #b8b8b8;
}

#taskList {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:10px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 5px;


        & .task-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .info {
                display: flex;
                align-items: center;
                gap:10px;
                margin-top:5px;
                & svg {
                    width: 15px;
                    height: 15px;
                }

                p {
                    display: flex;
                    gap:5px;
                    align-items: center;
                }

                & .taskPoints {
                    color: var(--orange);

                }
            }

            & .svg-wrapper {
                display: flex;
                gap: 5px;
                align-items: center;

                & .icon-box-bin, & .icon-box-checkmark {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    padding:5px;
                }

                & .icon-box-checkmark {
                    background-color: var(--green);
                    &:hover {
                        background-color: var(--green_hover);
                    }
                }

                & .icon-box-bin {
                    background-color: red;
                    &:hover {
                        background-color: #ff6666;
                    }
                }
            }
        }

        & .task-row-2 {
            display: flex;
            justify-content: space-between;
        }
    }

}

#historyArea{
    & #taskHistory {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 7px 15px;

        .taskHistory-row {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            & .collapse {
                min-width: 0;
                overflow-wrap: anywhere;
            }
            & .info {
                display:flex;
                gap: 10px;
                & .points {
                    color: rgba(0, 128, 0, 0.84);
                }
            }

        }
    }
}

menu {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    margin-block-start: 1em;
    margin-block-end: 0;
}
#shopStats {
    display:flex;
    gap: 25px;
    border-bottom: 1px lightgray solid;
    padding-left: 20px;
    margin-bottom: 10px;
    & p {
        font-size: 20px;
        padding: 5px;
        &.selected {
            color: var(--blue);
            border-bottom: solid 2px var(--blue);
        }
        &:hover:not(.selected){
            cursor:pointer;
        }
    }
}
#shop {
    .rewardIcon {
        font-size: 25px;
    }
    display:grid;
    grid-template-columns: 50% 50%;

    & .info {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10%;
        color: #959595;
    }

    & aside {
        margin-bottom: 20px;
        border: 1px lightgray solid;
        border-radius: 12px;
        box-shadow: 0 0 5px #b8b8b8;
        background-color: white;
        padding-top:10px;
        padding-left: 15px;
        padding-right: 15px;

        & p {
            font-size:17px;
        }
    }

    & .rewardTop {
        display:flex;
        justify-content:space-between;
        align-items:center;
        min-height:37px;
    }
    & #leftShop {
        margin-left:20px;
        margin-right:10px;

        & #newRewardBox {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 2px solid lightskyblue;
            border-radius: 12px;
            padding: 10px;
            margin-top: 10px;

            &#newRewardBox {
                & #iconWrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    & span {
                        border: 2px solid lightgray;
                        border-radius:5px;
                        padding:5px;

                        &:hover {
                            border-color: #c5c5c5;
                        }
                        &.selected{
                            border-color: var(--blue);
                        }
                    }

                }

            }

            & #newRewardButtons {
                display:flex;
                gap: 10px;

                & .primary {
                    flex-basis: 80%;
                }
                & .secondary {
                    flex-basis:20%;
                }
            }
        }
    }
    & #rightShop {
        margin-left:10px;
        margin-right:20px;
    }
}
#rewardList, #rewardHistoryList {
    margin-top: 10px;
    margin-bottom: 20px;
}
.reward-row {
    display:flex;
    justify-content:space-between;
    align-items:center;

    & .row-start {
    display:flex;
    align-items:center;
    gap:10px;

    & .rewardInfo {
        display:flex;
        flex-direction:column;
    }
}
& .row-end {
    display:flex;
    align-items:center;
    gap:10px;

    & .buyRewardButton {
        border: 0;
        border-radius: 12px;
        padding: 10px;

        &.active {
            background-color: var(--green);
            color: white;
            &:hover {
                background-color: var(--green_hover);
            }
        }
        &:not(.active) {
            background-color: #b6b6b6;
            cursor: not-allowed;
            color: black;
        }
    }

    & .deleteRewardButton {
        padding: 5px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 6px;
        &:hover {
            background-color: lightgray;
        }
    }

}
}
.rewardHistory-row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:10px;

    & .row-start {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
svg {
    width:100%;
    height:100%;
}

h1,h3,p {
    margin : 0;
}
.hidden {
    display:none !important;
}

/*
.icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    font-size: 16px;
}

.icon-btn:hover {
    background: #f2f2f2;
}*/
